@tailwind base;

@tailwind components;

@tailwind utilities;

html.dark,
body.dark {
  background-color: theme('colors.gray.700');
  color: theme('colors.gray.100');
  height: 100%;
}

html.light,
body.light {
  background-color: theme('colors.gray.100');
  color: theme('colors.gray.800');
  height: 100%;
}

/* 
Fixed linked elements from being highlighted blue
https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic
*/
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* 
Used to to toggle settings
https://tailwindcomponents.com/component/toggle-switch
*/
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
